IMPORTING MODULES

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report,confusion_matrix

DATA CLEANING AND SETUP

In [ ]:
# Read the unformatted CSV file
df = pd.read_csv('data.csv', sep=';')

# Perform any necessary formatting or data manipulation
# For example, you can convert columns to the appropriate data types
df['Marital status'] = df['Marital status'].astype(int)
df['Previous qualification (grade)'] = df['Previous qualification (grade)'].astype(float)

# Write the formatted data back to a CSV file
df.to_csv('dropout.csv', index=False)

In [42]:
df = pd.read_csv('dropout.csv')

In [43]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [44]:
dtree = DecisionTreeClassifier()

In [45]:
X = df.drop('Target', axis=1)
y = df['Target']

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [47]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier()

In [48]:
predictions = dtree.predict(X_test)

In [49]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

     Dropout       0.68      0.72      0.70       424
    Enrolled       0.38      0.36      0.37       251
    Graduate       0.80      0.78      0.79       653

    accuracy                           0.68      1328
   macro avg       0.62      0.62      0.62      1328
weighted avg       0.68      0.68      0.68      1328

In [6]:
print(confusion_matrix(y_test,predictions))

NameError: name 'confusion_matrix' is not defined